body {
  background-color: darkolivegreen;
}

#indexHeader {
  position: relative;
  top: 1em;
  background-image: url("/images/headerbgforest.jpg");
  background-color: darkgreen;
  background-repeat: no-repeat;
  background-size: cover;
}

#mtnHeader {
  position: relative;
  top: 1em;
  background-image: url("/images/mtnheaderbg.jpg");
  background-color: darkgreen;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 6px 5px #000;
}

nav {
  bottom: 14em;
  right: 2em;
}

nav a {
  outline-style: groove;
  background-color: olive;
  font-size: 1.5em;
  color: black;
}

nav a:hover {
  outline-style: ridge;
  background-color: darkgreen;
  color: white;
}

hr,
form {
  position: relative;
  bottom: 7em;
}

label {
  font-size: 1.3em;
}

#pickerByLocationDiv,
#pickerByParkTypeDiv,
#pickerByAllDiv {
  display: none;
}

footer {
  background-image: linear-gradient(white, gray);
}

@media (min-width: 300px) {
  h1 {
    font-size: 1.6em;
    text-shadow: 4px 3px black;
  }
  nav a {
    font-size: 0.1em;
    width: 60%;
    position: relative;
    left: 10em;
    top: 20em;
  }
  section {
    font-size: 0.6em;
    bottom: 11em;
  }
  section h2 {
    font-size: 1.6em;
  }
  #parkTable {
    font-size: 0.4em;
    position: relative;
    right: 1em;
  }

  #mtnTable {
    font-size: 0.3em;
    position: relative;
    right: 7em;
  }
}

@media (min-width: 500px) {
  h1 {
    font-size: 2.3em;
    text-shadow: 4px 3px black;
  }
  nav a {
    font-size: 0.7em;
    width: 80%;
    position: relative;
    left: 3em;
    top: 9em;
  }
  section {
    font-size: 0.8em;
    bottom: 10em;
  }
  section h2 {
    font-size: 1.8em;
  }
  #parkTable {
    font-size: 0.6em;
    width: 80%;
  }

  #mtnTable {
    font-size: 0.8em;
    position: relative;
    right: 4em;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 3.6em;
    text-shadow: 4px 3px black;
  }
  nav a {
    font-size: 1em;
    width: 80%;
    position: relative;
    left: 3em;
    top: 3em;
  }
  section {
    font-size: 1em;
    bottom: 9em;
  }
  section h2 {
    font-size: 2em;
  }
  #parkTable {
    font-size: 0.6em;
    width: 80%;
  }
  #mtnTable {
    font-size: 1em;
    position: relative;
    right: 3em;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 4.5em;
    text-shadow: 4px 3px black;
  }
  nav a {
    font-size: 1em;
    width: 80%;
    position: relative;
    left: 4em;
    top: 1em;
  }
  section {
    font-size: 1.2em;
    bottom: 8em;
  }
  section h2 {
    font-size: 2.2em;
  }
  #parkTable {
    font-size: 1em;
    width: 80%;
  }
  #mtnTable {
    font-size: 1em;
    position: relative;
    right: 0em;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 5em;
    text-shadow: 5px 4px black;
  }
  nav a {
    font-size: 1.2em;
    width: 80%;
    position: relative;
    left: 4em;
    top: 1em;
  }
  section {
    font-size: 1.4em;
    bottom: 7em;
  }
  section h2 {
    font-size: 2.4em;
  }
  #mtnTable {
    font-size: 1em;
    position: relative;
    right: 0em;
  }
}
